<div class="row h-100" style="margin-right: 0px !important;">
    <div class="col-md-8  upper-div text-center" [ngClass]="{'small-screen': enableResponsiveness}">


        <!-- <p  style="color: blanchedalmond;">abc</p> -->
        <div class="h-100">

            <img class="img-main" [@EnterLeave]="'flyIn'" src="../../../assets/images/hello.png" alt="portfolio">
            <div [@fromBottom]="'flyBttom'">
                <ul style="color: white; list-style: none; ">
                    <li>

                        I am a professional full stack developer having more than 1 year experience.
                    </li>
                    <li>

                        You can view as a guest more about me
                    </li>
                </ul>
            </div>
        </div>
        <!-- <nz-carousel nzAutoPlay>
            <div nz-carousel-content  *ngFor="let index of array">

                <div class="slider-div" *ngIf = "index === 1">
                    <p>Hey It's Waqar Ayub</p>
                </div>
                
                <div class="slider-div" *ngIf = "index === 2">
                    <p>Professional Angular Developer</p>
                    <p>
                        I can create Professional Angular application using different plugins. or can also
                    </p>
                </div>

                <div class="slider-div" *ngIf = "index === 3">
                    <p>Experience</p>
                    <p>
                        I can work on third packages like Maps, Schedulers, Angular Material, Ant Design or I can also integrate API's.
                    </p>
                </div>

                <div class="slider-div" *ngIf = "index === 4">
                    <p>For More Please Like Continue</p>
                    
                </div>
            </div>
        </nz-carousel> -->
    </div>

    <div class="col-md-4 text-center" style="background: brown;">
        <div class="margin-div-top">

            <img class="picture-welcome" src="../../../assets/images/fawad.jpg" alt="">
            <h5 class="h5-styling">Welcome To Portofolio</h5>
            <button class="btn btn-next" routerLink="/pages/dashboard">Continue as guest</button>
        </div>
    </div>
</div>