<div style="padding:30px;">
    <nz-card>
        <h3 class="mb-4">Profile</h3>
        <form>
            <h6 class="mb-3">Personal Information</h6>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <img class="ml-2" style="height: 150px; border-radius: 50%;"
                        src="../../../../assets/images/fawad.jpg" alt="">
                </div>
                <div class="form-row col-md-9" [ngClass]="{'ml-5': paddingEnabling}">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="inputFirstName4">First Name</label>
                        <input type="text" value="Muhammad Waqar" class="form-control" id="inputFirstName4" disabled>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="inputLastName4">Last Name</label>
                        <input type="text" value="Ayub Khan" class="form-control" id="inputLastName4" disabled>
                    </div>

                    <div class="form-group col-md-6 col-sm-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" value="waqarayub68@gmail.com" class="form-control" id="inputEmail4"
                            disabled>
                    </div>

                    <div class="form-group col-md-6 col-sm-6">
                        <label for="mobileNumber">Mobile Number</label>
                        <input type="email" value="+92 333 5227985" class="form-control" id="mobileNumber" disabled>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail4">Address</label>
                <input type="textaddress"
                    value="House no 658/G street 13 Allama Iqbal Colony Rawalpinid, Punjab Pakistan"
                    class="form-control" id="address" disabled>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="city">City</label>
                    <input type="text" value="Rawalpinid, Punjab Pakistan" class="form-control" id="city" disabled>
                </div>

                <div class="form-group col-md-5">
                    <label for="county">Country</label>
                    <input type="text" value="Pakistan" class="form-control" id="county" disabled>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" value="46000" disabled class="form-control" id="inputZip">
                </div>
            </div>
            <h6 class="mb-3 mt-3">Qualification</h6>
            <h6>Bachelor's of Computer Science</h6>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="cgpa">CGPA (x.xx/4.00)</label>
                    <input type="text" value="3.87" class="form-control" id="cgpa" disabled>
                </div>
    
                <div class="form-group col-md-6">
                    <label for="passingDate">Passing Date</label>
                    <input type="text" value="jul-15-2019" class="form-control" id="cgpa" disabled>
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col-md-12">
                    <label for="institue1">University Name</label>
                    <input type="text" value="International Islamic University Islamabad, Pakistan" class="form-control"
                        id="institue1" disabled>
                </div>
            </div>
            <h6>Skills</h6>

        </form>
    </nz-card>
</div>